# Ignore files.
*.bvh
*.html
*.png
*.jpg
*.gif
*.pyc
*.npy
Experiments/Experimental_Logs/*
Experiments/ExpWandbLogs/*
Experiments/Code_Runs/*
Logs/*
CSLenv/*
.vscode/settings.json
Experiments/.vscode/settings.json
Experiments/Statistics/*
Logging Results/models.txt
# *Runs.py
workspace.code-workspace
DataGenerator/settings.json
DataGenerator/.vscode/settings.json
Experiments/parse_realroboturk.py
Experiments/Code_Runs/CycleTransfer_Runs.py
DataGenerator/DeterministicGoalDirectedTraj.py
DataGenerator/NewGoalDirectedTraj.py
Toy_Batching.py
Toy_Batching.txt
Experiments/PolicyManagers.py
.DS_Store
.idea/*
